img {
  animation: 0.3s fadeIn;
}
.container {
  position: absolute;
  margin-top: 100px;
  right: 0;
  left: 0;
  padding: 20px;
  overflow-x: hidden;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
}

.container-items img{
  display: block;
  width: 350px;
  height: 250px;
  user-select: none;
  max-width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  transition: 0.3s ease;
}

.container-items img:hover{
  transform: scale(1.02);
}

.container-bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container-bottom button {
  background-color: var(--bg-secondary);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
  height: 40px;
}

.load-more{
  display: flex;
  align-items: center;
}

.load-more.disabled{
  color: gray;
  background-color: var(--ghost);
}

.load-more:hover:not(:disabled){
  background-color: var(--hover-color);
}

.container-bottom button:hover {
  background-color: var(--hover-color);
}


.fullscreen-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9000;
  width: fit-content;
}
.fullscreen-container img {
  width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.fullscreen-close img {
  width: 50px;
}

.fullscreen-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background: transparent;
  z-index: 9001;
}

.open-in-folder {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9001;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  color: white;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.open-in-folder:hover {
  background-color: var(--hover-color);
}



.fullscreen-close button:hover{
}

.fullscreen-close img {
  filter: brightness(0) invert(1);
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 1000;

}
