@if (showFullscreenMode()) {
    <div class="screen"></div>
    <div class="fullscreen-container">
        <img style="border-radius: 10px" [src]="wallpaperToShowFullscreen()">
        <button (click)="onCloseFullscreen()" class="fullscreen-close"><img src="close.svg"></button>
    </div>
    @if (showInFolderOption) {
      <button class="open-in-folder" (click)="onOpenWallpaperInFolder()"><img src="open_in_folder.svg" width="30"
      style="float: left;margin-right: 5px" class="white-img">Open In Folder</button>
    }
}

@if (downloadService.currentDownloads().length > 0) {
  <div class="download-container">
      @for (download of downloadService.currentDownloads(); track $index) {
        <app-download-popup [data]="download" (close)="onCloseDownloadPopup($event)"></app-download-popup>
      }
  </div>
}

<div class="container">
  <div class="container-items">
    @for (wallpaper of wallpapers(); track $index) {
    <div class="container-item">
      @if (type == "wallhaven" ) {
        <img draggable="false" (click)="onWallpaper(wallpaper)" [src]="wallpaper.thumbs.original">
      } @else {
        <img draggable="false" (click)="onWallpaper(wallpaper)" [src]="wallpaper.path">
        <span class="wallpaper-name">{{ wallpaper.name }} </span>
      }
    </div>
    }
  </div>

  @if (wallpapers().length > 0) {
  <div class="container-bottom">
    @if (mode == "load-more") {
       @if (wallpapers().length < wallpapersTotal ) {
        <button (click)="onLoadMore()" [disabled]="wallpapers().length < 5" [class.disabled]="wallpapers().length < 5" class="load-more">Load more</button>
       }
    } @else {
        <button (click)="onPrevPage()">Prev</button>
        <button (click)="onNextPage()">Next</button>
        <span style="font-size: 24px;position: absolute;right: 20px;bottom: 13px">{{ pageData.page }}/{{ pageData.total }}</span>
    }
  </div>
  } @else {
    <h1 style="display: flex;justify-content: center;margin-top: 300px;font-size: 30px">No results</h1>
  }
</div>


