  <span style="position: absolute;right: 20px;top: 80px;font-size: 20px">
    @if (tab() == "local") {
      {{ currentLoadedLocalWallpapers().length }}/{{ localWallpapers().length}}
    } @else {
      {{ currentLoadedWallhavenWallpapers().length }}/{{ wallhavenWallpapers().length }}
    }
  </span>
<div class="search">
  <input spellcheck="false" [(ngModel)]="searchParameter().q" (keydown.code.enter)="initWallpapers()" placeholder="Search...">
  @if (tab() == "browse") {
    @for (category of this.searchParameter().categories; track $index) {
      <button (click)="onChangeCategory(category.name,category.isChecked)" [class.selected]="category.isChecked == true">{{ category.name }}</button>
    }
    <select [(ngModel)]="searchParameter().sorting">
      @for (sort of this.wallhaven.sorting(); track $index) {
        <option>{{ sort }}</option>
      }
    </select>

    <select [(ngModel)]="searchParameter().order">
      @for (order of this.wallhaven.orders(); track $index) {
        <option>{{ order }}</option>
      }
    </select>

    <select [(ngModel)]="searchParameter().resolution">
      @for (res of this.wallhaven.resolutions();track $index) {
        <option>{{ res }}</option>
      }
    </select>
  }
  <button class="search-btn" (click)="initWallpapers()"><img src="search.svg">Search</button>
</div>

  @if (tab() == "local") {
    <app-wallpaper
    [wallpapers]="currentLoadedLocalWallpapers"
    (loadMore)="loadMoreLocalWallpapers()"
    [showInFolderOption]="true"
    mode="load-more">
    </app-wallpaper>
  } @else{
    @if (!isLoading()) {
      <app-wallpaper
      (nextPage)="nextPage()"
      (prevPage)="prevPage()"
      [wallpapers]="currentLoadedWallhavenWallpapers"
      mode="pagination">
      </app-wallpaper>
    }
  }

@if (isLoading()) {
  <div class="loading-container">
    <span class="loader"></span>
  </div>
}
