.search {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 70px;
  margin-left: 40px;
  gap: 10px;
}

.search input {
  font-size: 20px;
}

.search button {
  font-size: 20px;
  background: var(--bg-secondary);
  border-radius: 10px;
  color: white;
  padding: 10px;
}


.search button:hover {
  background-color: var(--button-color);
}

.search button.selected {
  background-color: var(--button-color);
}

.search select {
  font-size: 20px;
}

.search-btn {
  font-size: 20px;
  background: var(--bg-secondary);
  border-radius: 10px;
  color: white;
  padding: 10px;
  z-index: 999;
}

.search-btn img {
  float: left;
  width: 25px;
  filter: brightness(0) invert(1);
}
